
.lettername {
  font-style: italic;
}

.tab-format {
  margin-left: 10%;
}

table td {
  border: 1px solid #ddd;
  padding: 10px;
}


.exampleList {
  float: left;
  margin:10px;
}



table.characters {
    width: 100%;
}

table.characters th.charColumn {
    width: 5%;
}

table.characters th.ucsColumn {
    width: 10%;
}

table.characters th.languageColumn {
    width: 5%;
}

table.characters tr td .charimage {
    width: 30px;
    height: 30px;
}

table.characters tr td.langMark {
  text-align: center;
  font-size: large;
}
table.characters tr td.langMarkYes, span.langMarkYes {
  color: #008F4C;
}
table.characters tr td.langMarkAuxiliary, span.langMarkAuxiliary {
  color: #0057A1;
}
table.characters tr td.langMarkNo, span.langMarkNo {
  color: #C61D20;
}

.flexContainer {
	display: flex;
	flex-flow: row-reverse nowrap;
}
.flexContainer>* {
	flex: 2;
}.flexContainer figure {
	flex: 1;
	margin: 0;
}


.prompt {
    font-style: italic;
    color: #aaa;
    font-size: 90%;
    margin-bottom: 4em;
}

.large {
    font-size: 300%;
    }
.trans, .ipa {
    font-family: "GentiumPlus", serif;
    font-style: italic;
    }
.meaning:before {
    content:"‘";
}
.meaning:after {
    content:"’";
}




